# Dependencias
node_modules/
**/node_modules/

# Builds
dist/
build/
.next/
out/

# Variables de entorno
.env
.env.local
.env.development
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# VS Code opcional
.vscode/

# Uploads del backend
backend-nestjs/uploads/*
!backend-nestjs/uploads/.gitkeep